* {
  box-sizing: border-box;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  margin: 0;
  overflow: hidden;
}

.nav {
  width: 100%;
  display: flex;
  height: 65px;
  left: 0px;
  top: 0px;
  background: #180161;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav--title {
  margin: 0px;
  margin-left: 20px;
  padding: 16px 16px;

  font-family: 'Arvo';
  font-style: italic;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 30px;

  align-items: center;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);

}


.color--button:hover {
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0) !important;
}


.slider--box {
  align-self: center;
  margin-right: 10px;
  padding: 20px 15px;
  justify-content: flex-end;
  margin-left: auto;
}



.slider {
   padding: 20px 15px; 
   margin-right: 25px;
  /* width: 50px; */
  /* align-self: center; */
}

.slider--input {
}



.colorPicker {
  padding: 20px 5px;
  /* position: absolute; */
}


.container {
  position: relative;
}

#base,
#scratch {
  position: absolute;
  cursor: grabbing;
  object-fit: "cover";
}

#scratch {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}